.dropdown-container {
	position: relative;
	min-width: 100px;
}

.dropdown-selection {
	border: 1px solid black;
	border-radius: 3px;
	background: white;
	padding: 2px;
	display: flex;
}

.selected {
	margin: 3px;
	/* background: grey; */
}

.selected-label {
	background: grey;
}

.remove {
	margin-left: 3px;
	background: red;
}

.dropdown-options {
	background: red;
	position: absolute;
	width: 100%;
	z-index: 99;
}

li {
	list-style: none;
}