.dropdown-container {
	position: relative;
	min-width: 130px;

	--border: #ccd4da;
	--red: #ff9797;
	--red-dark: #fa5757;
	--tag-bg: #f2f4f6;
	--tag-text: #b4bdc3;
	--option-text: #424242;
	--option-bg-hover: #d8ebfb;
	--highlight: #2d88d8;
	--placeholder: var(--border);
}

.dropdown-selection,
.options {
	border: 1px solid var(--border);
	border-radius: 3px;
	background: white;
}

.dropdown-selection {
	padding: 5px;
	display: flex;
	font-size: 15px;
	justify-content: space-between;
}

.selection-highlight {
	border-color: var(--highlight);
}

.dropdown-toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 0 auto 10px;
	font-size: 22px;
	color: var(--tag-text);
	height: max-content;
	cursor: pointer;
}

.placeholder,
.selected {
	margin: 3px;
}

.placeholder {
	color: var(--placeholder);
}

.selected {
	display: flex;
}

.selected-chip,
.remove {
	border-radius: 1px;
	padding: 2px 5px;
	background: var(--tag-bg);
	color: var(--tag-text);
}

.remove {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background 200ms, color 200ms;
}

.remove:hover {
	cursor: pointer;
	background: var(--red);
	color: var(--red-dark);
}

.options {
	position: absolute;
	margin-top: 3px;
	width: 100%;
	z-index: 99;
	padding: 5px 0;
	box-sizing: border-box;
}

.empty-option,
.option {
	color: var(--option-text);
	padding: 2px 10px;
}

.option:hover {
	background: var(--option-bg-hover);
	color: var(--highlight);
	cursor: pointer;
	border-radius: 2px;
}

li {
	list-style: none;
}