.chart-container {
	color: #424242;
}

.chart-options {
	display: flex;
	margin-bottom: 20px;
}

.clear-chart {
	border-radius: 3px;
	background: #f19393;
	color: white;
	border: none;
	outline: none;
	margin-right: 10px;
	padding: 10px;
	transition: background 200ms;
}

.clear-chart:hover,
.clear-chart:active {
	background: #fa5757;
	cursor: pointer;
}