.search-bar {
	font-size: 30px;
	width: 100%;
	border: 2px solid black;
	box-sizing: border-box;
}

.search-results {
	z-index: 99;
	background: white;
	color: black;
	width: 100%;
	box-sizing: border-box;
	padding: 2px;
	border: 2px solid black;
	border-top: 0;
}

.search-result:hover {
	background: lightgray;
	cursor: pointer;
}