body {
	margin: 5vh 20vw;
	margin-bottom: 3vh;
	font-family: open sans;
	background: #f6fbff;
	--fg: #1f7cce;
	--fg-light: #88c2f5;
	--accent: #f07e27;
	--accent-light: #f1bd93;
	--loader-bg: #f2f4f6;
	--loader-fg: var(--fg);
}

@media only screen and (max-width: 800px) {
	body {
		margin: 5vh 5vw;
	}
}

h1 {
	color: var(--fg);
	margin: 0;
}

h3 {
	color: var(--fg-light);
	font-weight: 600;
	margin: 0 0 30px 0;
}

a {
	color: var(--accent-light);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
}

.loading-container {
	margin-top: 50px;
}

.loader {
	border: 16px solid var(--loader-bg);
	border-radius: 50%;
	border-top: 16px solid var(--loader-fg);
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
	margin: auto;
	margin-bottom: 10px;
}

.loading-text {
	display: flex;
	justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

footer {
	margin-top: 30px;
	color: var(--fg-light);
	font-size: 15px;
	font-weight: 600;
	display: flex;
	justify-content: center;
}