body {
	margin: 10vh 20vw;
	font-family: open sans;
	background: #f6fbff;
}

h1 {
	color: #1f7cce;
	font-family: open sans;
	margin: 0;
}

h3 {
	color: #88c2f5;
	font-weight: 600;
	margin: 0 0 30px 0;
}

a {
	color: #f3c59f;
	text-decoration: none;
}

a:hover {
	color: #f07e27;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}